services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: unless-stopped
    environment:
      - SIGNUPS_ALLOWED=${SIGNUPS_ALLOWED:-true}
      - INVITATIONS_ALLOWED=${INVITATIONS_ALLOWED:-true}
      - WEBSOCKET_ENABLED=${WEBSOCKET_ENABLED:-true}
      - DOMAIN=https://vaultwarden.datamountainsolutions.com
    volumes:
      - ./data:/data
    ports:
      - "3012:3012"
    networks:
      - homelab

networks:
  homelab:
    external: true